/* /base css/ */

*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none !important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.header{
    background: #363636;
}
.phone{
    font-size: 14px;
    font-weight: 600;
    color: #d8d8d8;
    transition: 0.3s;
}
.phone:hover{
    color: #ffffff;
}
.logo{
    color: #d58e35;
}
.basket-wrapper{
    width: 43px; height: 40px;
    border-radius: 3px;
    background: #d58e35;
    transition: 1s;
    position: relative;
}
.basket-wrapper:hover{
    border-radius: 30px;
}
.products-in-basket{
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    background: #363636;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 33px;
}

/* Навбар */

.header-nav{
    box-shadow: 0px 4px 6px 0px rgba(1, 2, 2, 0.2);
}
.megasubmenu{ padding: 20px; }
.nav-item{
    transition: 0.3s;
    padding: 0;
}
.nav-item:hover{
    background: #d58e35;
}
.dropdown-item{
    transition: 0.2s;
}
.dropdown-item::after{
    vertical-align: 0;
}
.dropdown-item:hover{
    background: #d58e35;
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffffff
}
.homepage-icon{
    position: relative;
    bottom: 5px;
}
@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
      border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .nav-item{
        padding: 10px 0;
    }
    .dropdown-menu{
      margin:0; 
    }
    .megasubmenu{ 
      left:100%; top:0; min-height: 100%; min-width:500px;
    }
    .dropdown-menu > li:hover .megasubmenu{
      display: block;
    }
  }